# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
env/
.python-version
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/

# Node
client/node_modules/
client/.pnp
client/.pnp.js
client/coverage/
client/build/
.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# Project specific
chroma_db/
server/chroma_db/
