.chat-paper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.message-list {
    overflow-y: auto;
    height: 100%;
}

.message {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: var(--chat-border-radius);
}

.message.user {
    width: 70%;
    background-color: var(--chat-user-color);
}

.message.assistant {
    width: 70%;
    background-color: var(--chat-assistant-color);
}

.input-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: flex-start;
}